{% block dalec_list_header %}
{% endblock dalec_list_header %}

{% block dalec_list_body %}
    {% if not request.is_ajax %}
        <div class="dalec-list"
            id="dalec-{{ id }}"
            data-url="{{ url }}"
            data-app="{{ app }}" data-content-type="{{ content_type}}"
            {% if channel %}
                data-channel="{{ channel }}"
                data-channel-objects="{{ json_channel_objects }}"
            {% endif %}
        >
    {% endif %}

    {% block dalec_list_items %}
        {% for object in object_list %}
            {% include item_template %}
        {% endfor %}
    {% endblock %}

    {% if not request.is_ajax %}
        </div>
        {% if ajax_refresh %}
        <script type="text/javascript">
            window.addEventListener("load", (event) => {
                dalec_fetch_content(document.getElementById('dalec-{{ id }}'));
            });
        </script>
        {% endif %}
    {% endif %}
{% endblock dalec_list_body %}

{% block dalec_list_footer %}
{% endblock dalec_list_footer %}
