{% extends "dalec/default/item.html" %}
{% block item_content %}
    <h2>{{ object.content_data.nom_etablissement }}</h2>
    <pre>
        {{ object.content_data }}
    </pre>
    <p>
    Cet établissement {{ object.content_data.statut_public_prive|lower }} a été créé le {{ object.creation_dt|date:"DATE_FORMAT" }}
    dans la commune « {{ object.content_data.nom_commune }} » ({{ object.content_data.code_postal }}).<br />
    Il se situe au {{ object.content_data.adresse_1 }} et peut accueillir {{ object.content_data.nombre_d_eleves }} élèves.
    </p>
    <iframe
        width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid black"
        src="https://www.openstreetmap.org/export/embed.html?bbox={{ object.content_data.position.lon|add:"-0.02" }},{{ object.content_data.position.lat|add:"-0.02" }},{{ object.content_data.position.lon|add:"0.02" }},{{ object.content_data.position.lat|add:"0.02" }}&amp;layer=mapnik&amp;marker={{ object.content_data.position.lat }},{{ object.content_data.position.lon }}"
    ></iframe>
    <br/><small><a href="https://www.openstreetmap.org/?mlat={{ object.content_data.position.lat }}&amp;mlon={{ object.content_data.position.lon }}#map={{ object.content_data.position.lat }}/{{ object.content_data.position.lon }}">Afficher une carte plus grande</a></small>
{% endblock %}
